body {
  display: flex;
  flex-flow: column nowrap;
}

.tweet-frames-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
}

.buttons-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.commands {
  width: 15%;
}

.content {
  width: 70%;
}

.tags {
  width: 15%;
}

.tweet-frame input {
  width: 100%;
}
